{% extends 'base.html' %} 
{% block content %}
<div class="max-w-2xl mx-auto bg-gray-200 p-10 rounded shadow">
    <h1 class="mb-4 text-2xl font-semibold">Sign up</h1>
    <form method="POST" action="" class="flex flex-col">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username" class="mb-4 p-4 rounded" />
        <input type="password" placeholder="Password" name="password" class="mb-4 p-4 rounded" />
        <button class="bg-green-400 text-white py-4 rounded">Sign up</button>
    </form>
</div>
{% endblock %}