{% extends 'base.html' %} 
{% block content %}
<div class="max-w-4xl mx-auto">
    <div>
        <form class="flex flex-col bg-gray-200 p-10 rounded shadow-md" method="POST">
            {% csrf_token %}
            <h1 class="mb-4 text-2xl font-semibold">Create Todo</h1>
            <input type="text" placeholder="Description" class="p-4 rounded" name="description" />
            <button class="py-4 bg-green-400 text-white mt-4 rounded">Create</button>
        </form>
    </div>

    {% for todo in todos %}
        <div class="bg-gray-200 rounded shadow-md p-10 mt-10">
            <div class="flex justify-between items-center">
                <h3 class="text-xl font-semibold">{{todo.description}}</h3>
                <form method="POST" action="{% url 'todo_app:delete' todo_id=todo.id %}">
                    {% csrf_token %}
                    <button><i class="far fa-trash-alt"></i></button>
                </form>
            </div>
            <form action="{% url 'todo_app:update' todo_id=todo.id %}">
                {% if todo.completed %}
                <button class="bg-red-400 text-white py-2 px-4 rounded mt-4">
                    Undo
                </button>
                {% else %}
                <button class="bg-green-400 text-white py-2 px-4 rounded mt-4">
                    Complete
                </button>
                {% endif %}
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}
